extends layout

block content
      #page-wrapper
        .container-fluid
          - each article, i in articles
            .bs-callout
              h3
                a(href='/articles/#{article._id}') #{article.title}
              p #{article.author} - #{article.updatedAt}
              i category : 
              a(href='/categories/'+article.category) #{article.category}
              br
              i tags : 
              - each tag in article.tags.split(',')
                a(href='/tags/'+tag) #{tag}
                &nbsp