extends ../layout

block content
     .ui.grid
        .four.wide.column
          .ui.secondary.vertical.pointing.fluid.menu
            a.item
              | All
            a.item
              | Posted
            a.item
              | Draft
            a.item(href='/articles/new')
              | New
        .twelve.wide.column
          form.ui.form#formUpdateArticle(name="updateArticle",method="post",action="/articles/#{article._id}/edit")
            .field
              label Title
              input#updateTitle(type="text", value='#{article.title}', placeholder="ex. Black Knight", name="title")
            .field
              label Body
              textarea#updateBody(type="text", name="body") #{article.body}
            .field
              label Category
              select#select.ui.dropdown(name='category', value='#{article.category}')
                  option(value="#{article.category}") Category
                  
                    
            .field
              label Tags
              .ui.left.icon.input
                i.tags.icon
                input#inputTags(type="text", value='#{article.tags}', placeholder="ex. story, tips", name="tags")
            .field
              label Save as draft
              input#updateDraft(type="checkbox", name="draft", value='#{article.draft}',)
            button.ui.button#btnSubmit(type="submit") Update