extends ../layout

block content
     .ui.grid
        .four.wide.column
          .ui.secondary.vertical.pointing.fluid.menu
            a.item(href='/articles')
              | All
            a.item(href='/articles/published')
              | Published
            a.item(href='/articles/draft')
              | Draft
            a.item(href='/articles/new')
              | New
        .twelve.wide.column
          form.ui.form#formUpdateArticle(name="updateArticle",method="post",action="/articles/#{article._id}/edit")
            .field
              label Title
              input#updateTitle(type="text", value='#{article.title}', placeholder="ex. Black Knight", name="title")
            .field
              label Body
              textarea#inputBody(type="text", name="body") #{article.body}
            .field
              label Category
              select#select.ui.dropdown(name='category')
                - each category, i in categories
                  if(category.name == article.category)
                    option(value='#{category.name}' selected) #{category.name}
                  if !(category.name == article.category)
                    option(value='#{category.name}') #{category.name}
            .field
              label Tags
              .ui.left.icon.input
                i.tags.icon
                input#inputTags(type="text", value='#{article.tags}', placeholder="ex. story, tips", name="tags")
            .field
              label Save as draft
              if (draft)
                input#updateDraft(type="checkbox", name="draft", checked="checked")
              if !(draft)
                input#updateDraft(type="checkbox", name="draft")
              input(type='hidden',value='PUT',name='_method') 
            button.ui.button#btnSubmit(type="submit") Update