extends ../articles/layout

block content
      #page-wrapper
        .container-fluid
          // Page Heading
          .row
            .col-lg-12
              h1.page-header
                | Edit 
                small Article
          // /.row
          .row
            .col-lg-12
              form(role='form', name='updateArticle', method='post', action='/articles/#{article._id}/edit')
                .form-group
                  label Title
                  input.form-control(type='text', value='#{article.title}', name='title')
                .form-group
                  label Body
                  textarea#inputBody.form-control(rows='3', type='text', name='body') #{article.body}
                .form-group
                  label Category
                  select.form-control(name='category')
                    option(hidden) Choose category
                    - each category, i in categories
                      if(category.name == article.category)
                        option(value='#{category.name}' selected) #{category.name}
                      if!(category.name == article.category)
                        option(value='#{category.name}') #{category.name}
                .form-group
                  label Tags
                  input#inputTags(type='text', value='#{article.tags}', name='tags')
                  label Save as draft
                  if (draft)
                    input#updateDraft(type='checkbox', name='draft', checked='checked')
                  if (!draft)
                    input#updateDraft(type='checkbox', name='draft')
                  input(type='hidden', value='PUT', name='_method')
                button.btn.btn-default#btnSubmit(type='submit') Update