extends layout

block content
      #page-wrapper
        .container-fluid
          .page-header
            h1 All Article
          - each article, i in articles
            if (article.draft == false)
              .bs-callout.bs-callout-primary
                h4
                  a(href='/articles/#{article._id}') #{article.title}
                p #{article.author}
                i tags : 
                  - each tag in article.tags.split(',')
                    a(href='/tags/'+tag) #{tag}
                    &nbsp
                br
                a(href='/articles/#{article._id}/edit')
                  button.btn.btn-default(type='button') Edit
                form(action='/articles/#{article._id}/edit', method='post', enctype='application/x-www-form-urlencoded')
                  input(type='hidden', value='DELETE', name='_method')  
                  button.btn.btn-default(type='submit', onclick="return confirm('Are you sure?');") Delete
            if (article.draft == true) 
              .bs-callout.bs-callout-warning
                h4
                  a(href='/articles/#{article._id}') #{article.title}
                p #{article.author}
                i tags : 
                  - each tag in article.tags.split(',')
                    a(href='/tags/'+tag) #{tag}
                    &nbsp
                br
                a(href='/articles/#{article._id}/publish')
                  button.btn.btn-default(type='button', onclick="return confirm('Publish this post?');") Publish
                a(href='/articles/#{article._id}/edit')
                  button.btn.btn-default(type='button') Edit
                form(action='/articles/#{article._id}/edit', method='post', enctype='application/x-www-form-urlencoded')
                  input(type='hidden', value='DELETE', name='_method')  
                  button.btn.btn-default(type='submit', onclick="return confirm('Are you sure?');") Delete