extends ../layout 

block content
      #page-wrapper
        .container-fluid
          .page-header
            h1 #{article.title}
          .bs-callout
            p !{article.body}
            p #{article.author} - #{moment(article.publishAt).format('DD/MM/YYYY')}
            i tags : 
              - each tag in article.tags.split(',')
                a(href='/tags/'+tag) #{tag}
                &nbsp
            br